.expresscard{
  opacity:0;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
      transform: translateY(30px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
