.hero{
  background-image: url('/public/bg2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.software{
  color:#2ea6dd;
}

.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rohit{
  opacity:0;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.sdv{
  opacity:0;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.social-links{
  opacity:0;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.fancytext{
  font-family: 'NyghtSerif';
  src: url('./assets/fonts/NyghtSerif-Medium.otf') format('opentype');
  font-weight: large;
  font-style: italic;
  color:silver
}

.summary{
  opacity:0;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.arrow{
  opacity:0;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.social-btn {
  cursor: pointer;
  height: 68px;
  width: 68px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 34px;
  width: 34px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

@keyframes slideIn {
  from {
      transform: translateY(50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@media(max-width:780px){
  .social-btn {
  cursor: pointer;
  height: 58px;
  width: 58px;
  }

  .social-btn svg {
  height: 32px;
  width: 32px;
}
}

@media (hover: none) and (pointer: coarse) {
  .social-btn {
    width: 68px !important;
    border-radius: 10px !important;
  }

  .social-btn:hover {
    width: 68px !important;
    border-radius: 10px !important;
  }

  .social-btn span {
    width: 0px !important;
    padding: 0px !important;
  }

  .social-btn:hover span {
    width: 0px !important;
    padding: 0px !important;
  }
}