@keyframes spin-horizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.spin{
  background-color: rgba(101, 101, 101, 0.582);
}

.spin:hover .logo{
    animation-name: spin-horizontal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
}