@import "tailwindcss";

html, body, #root{
  height: 100%;
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: white;
  scroll-behavior: smooth;
  cursor: url('../public/pointer 1.png'), auto;
}

::-webkit-scrollbar {
  width: 10 px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background-color: #2ea6dd;
  border-radius: 10px;
  border: 2px solid #1f2937;
}